:host {
	flex: 0 0 30px;
	display: flex;
	span {
		margin: 0 10px 0;
	}
	.pagination {
		width: 100%;
		position: relative;
		flex: 1;
		background: #ebe3e3;
		display: flex;
		flex-direction: row;
		align-items: center;

		.description {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 10;

			.page-counts {
				margin-right: 10 * 2;
			}
		}

		.numbers {
			display: block;
			text-align: center;
			flex: 1;

			button {
				flex: 0 0 auto;
				outline: none;
				border: 0;
				padding: 10px;
				background: transparent;
				cursor: pointer;
				&.active {
					color: red;
					font-size: 15px;
					font-weight: 400;
				}

				&.disabled {
					color: lightgrey;
				}
			}
		}
	}
}