<section> 
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Enter 10 digit phone number"
        minlength="10"
        maxlength="10"
        customErrors
        formControlName="phonenumber">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
  </form>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</section>
