<section> 
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Enter 10 digit phone number"
        minlength="10"
        maxlength="10"
        customErrors
        formControlName="phonenumber">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
  </form>

  <div class="table">

    <mat-list role="list" >
        <mat-list-item role="listitem" *ngFor="let t of combinations">{{t.number}}</mat-list-item>
    </mat-list>

    <div>
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        [pagesToShow]="3"
        [page]="page"
        [perPage]="limit"
        [count]="total">
      </app-pagination>
    </div>
  </div>
</section>
